.font {
    font-size: 30px;
    text-align: left;
    color: rgb(0, 0, 0);
}
.font_ {
    color: rgb(0, 0, 0);
    font-size: 20px;
}
body {
    background-color: rgb(231, 231, 231);
}
.button {
    border: none;
    color: rgb(231, 231, 231);
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: rgb(207, 207, 207);
    color: rgb(0, 0, 0);
    border: 2px solid #454546;
}

.button1:hover {
    background-color: #3414ee;
    color: rgb(255, 255, 255);
}
@media only screen and (max-width: 600px) {
    .Multiverse{
        width: 80%;
        height: auto;
    }
}
@media only screen and (min-width: 700px) {
    .Multiverse{
        width: 35%;
        height: auto;
    }
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    text-align: center;
}
.centerheader{
    text-align: left;
    font-size: 40px;
    color: rgb(0, 0, 0);
}
.bottomtext{
    font-size: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
