body {
  background-color: lightblue;
  margin: 0;
  padding: 50px 0;
}
.header {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
}
.subheader {
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
}

.description {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.tables {
  margin: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
@media only screen and (max-width: 600px) {
  .tables {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}

.tables > * > .grid {
  width: 100%;
  display: grid;
  gap: 20px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.tables > * > .grid > *,
.tables > * > .grid > * > * {
  width: 100%;
  cursor: pointer;
}

button {
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: lightblue;
    color: black;
    border: 2px solid #4caf50 !important;
    align-items: center;
    margin: 20px;
}

button:hover {
    background-color: #4caf50;
    color: rgb(12, 11, 11);
}

.centerGrid {
  display: grid;
  width: 100%;
  place-items: center;
}