body {
  background-color: lightblue;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
  margin-top: 150px;
  gap: 5px;
}
.grid > a,
.grid > img,
.grid > a > img {
  display: grid;
  place-items: center;
  margin: auto;
  justify-self: center;
  align-self: center;
  width: 80%;
}
img {
  border: solid 0.2em black;

  border-radius: 1cm;
  box-shadow: 0 0 1em #000000;
  transition-duration: 0.7s;
  margin: auto;
}
img:hover {
  background-color: #00000050;
  color: rgb(12, 11, 11);
  transform: scale(110%);
}
.centerGrid {
  display: grid;
  width: 100%;
  place-items: center;
  margin: auto;
}
button {
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: lightblue;
  color: black;
  border: 2px solid #4caf50 !important;
  align-items: center;
  margin: 20px;
}

button:hover {
  background-color: #4caf50;
  color: rgb(12, 11, 11);
}
#gcord {
  grid-column: 2;
  grid-row: 1;
}
#github {
  grid-column: 1;
  grid-row: 2;
}
#steam {
  grid-column: 2;
  grid-row: 3;
}
#discord {
  grid-column: 3;
  grid-row: 2;
  cursor: pointer;
}
.nodesktop{
  display: none;
}